export('midpoint','midpoints','ninenum','seventeennum')
export('ellipseplot')
S3method(ellipseplot, data.frame)
S3method(ellipseplot, numeric)
S3method(ellipseplot, matrix)
S3method(ellipseplot, list)
importFrom('grDevices', 'adjustcolor', 'rainbow')
importFrom('graphics', 'mtext', 'par', 'polygon', 'text')
importFrom('methods', 'hasArg')
importFrom('utils', 'modifyList', 'str')
